body{
  margin: 0px;
  background: linear-gradient(white, yellow, orange, lemonchiffon);
  background-repeat: no-repeat;
  
}
h1{
  margin-top: 1px;
  text-align: center;
  font-size: 60px;
  color: mediumvioletred;
  text-shadow: 12px 10px 10px white;
}
table{
  margin-top: -44px;
  border-spacing: 30px;
  font-size: 26.7px;
  border: 3px solid black;
  margin-left: 0px;
  width: 100%;
}
table tr td{
  color: mediumvioletred;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 2px solid red;
  background:   lightgoldenrodyellow;
  box-shadow: 9px 3px 24px 0px salmon;
}
td a{
   text-shadow: 3px 5px 2px white;
  color: mediumvioletred;
}
.a{
  margin-top: 20px;
  border: 3px solid red;
  margin-bottom: 20px;
  margin-left: 26px;
  width:94%;
  border-radius: 60px;
  height: 1270px;
  background: linear-gradient(yellow, white, lightgreen);
}
hr{
  height: 8px;
  background: darkgoldenrod
}
.a p{
  color:  blue ;
  margin-top: 2px;
  font-weight: bold;
  font-size: 40px;
  font-family: cursive;
  text-shadow: 2px 2px 2px white;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 56px;
  color:   blue;
  text-shadow: 3px 4px 4px yellow;
}
.footer{
       
       font-size: 50px;
       margin-top: 20px;
       height: 80px;
       background: gainsboro;
       color: black;
       font-family: serif;
       font-weight: bold;
       text-align: center;
}
{
  color: lightgoldenrodyellow lemonchiffon plum turquoise navajowhite lightpink lightsalmon cornflowerblue  mistyrose lavenderblush lavender 
}